.JsMagicValidator-wraper{margin-top: 15px; position: relative; float: left; width: 100%; overflow: visible !important}
.JsMagicValidator-holder{position: absolute; top: 12px; left: 10px; padding: 3px 5px; height: auto; color: #999; background: transparent; width: auto; overflow: hidden; z-index: 999;}
.JsMagicValidator-movetop{border-radius: 6px; background: #5c5; color: #fff !important;}
.JsMagicValidator-movetop-gray{border-radius: 6px; background: #fff; color: #999 !important;}
.JsMagicValidator-error-label{float: left; width: 98%; margin-left: 1%; padding: 5px; background: rgba(255,22,33,.1); color: #f23; border: 1px solid #f23; border-top: 0px; border-radius: 0px 0px 5px 5px; box-sizing: border-box;}
.JsMagicValidator-error-label i{color: #f23;}
.JsMagicValidator-input-error{border-color: #f23 !important;}
.JsMagicValidator-input-ok{background: rgba(85,233,85,.1) !important; border-color: #5c5 !important;}
